@charset "utf-8";
.picture {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    text-align: center;
    color: #FF8E00;
    font-family: "微軟正黑體", "標楷體", "新細明體", "細明體";
    font-size: 50px;
}
.vh3  {
    text-align: center;
    font-family: "微軟正黑體", "標楷體", "新細明體", "細明體";
    color: #000000;



}
body {
    background-image: url(../img/unnamed.png);

}
