nav ul li {
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center center;
    list-style-type: none;
    display: inline-block;
    margin-bottom: -60px;
    position: relative;
    z-index: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background-image: url(img/118780058_105262744652599_4247748309213691604_n.jpg);
}
.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;

}
.content   {
    width: 920px;
    border: none;
    height: 550px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: hidden;
}



.block {
    height: 600px;
    border-radius: 15px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 5px 5px 25px 10px rgba(183,227,255,1.00);
    box-shadow: 5px 5px 25px 10px rgba(183,227,255,1.00);
    position: relative;
    z-index: 1;
    overflow-y: hidden;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}
ul li a {
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-bottom: -60px;
}
nav ul li:hover {
    -webkit-opacity: 0.5;
    opacity: 0.5;
}
